*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    
    max-height: 100vh;
}
.container{
    width: 25%;
    height: 300px;
    background-color: cornflowerblue;
    margin: calc(50vh - 150px) auto;
    border-radius: 5px;
    
}
.container .cons{
    padding: 50px;
    text-align: center;

}
.container .cons .hove{
    margin-top: 25px;
    background-color: white;
    padding: 10px ;
    margin-left: 20px;
    margin-right: 20px;

}
.container .cons .hove:hover{
   transform: scale(1.1,1.1);
   transition: 0.4s ease-in-out;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);

}